.encrypter__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40vw;
}

.inputform__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.encrypterform__input__container {
    position: relative;
    display: flex;
    gap: 1vw;
}

::placeholder{
    color:var(--cor-de-fundo2);
}

:focus{
    outline: none;
}

.buttons {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 1vw;
}

.buttons button {
    background-color: var(--cor-de-fundo1);
    font-family: 'Raleway';
    font-size: 1.2em;
    display: inline-block;
    border: none;
    border-radius: 15px;
    width: 19vw;
    height: 50px;
}

.buttons button:hover {
    background-color: #cfdcdc;
}

.buttons button:active {
    background-color: var(--cor-de-fundo1);
    font-size: 18px;
}

