section {
    padding: 4vw 5vw 4vw 5vw;
}

.encrypter__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40vw;
}

.inputform__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.encrypterform__input__container {
    position: relative;
    display: flex;
    gap: 1vw;
}

::placeholder {
    color: var(--cor-de-fundo2);
}

.buttons {
    text-align: center;
    display: flex;
    gap: 1vw;
}

/*Mobile*/
@media (max-width: 700px) {
    .encrypter__container {
        width: 88vw;
    }

    .encrypterform__input__container {
        width: 88vw;
        justify-content: space-between;
    }

    .input__container {
        width: 38vw;
    }

    .encrypter__input {
        width: 36vw;
    }

    .buttons {
        justify-content: space-between;
        width: 86vw;
    }

    button {
        width: 35vw;

    }
}