<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Iniciar Sesión</title>
</head>

<body>
    <section class="login">
        <div class="container">
            <h2>Iniciar Sesión</h2>
            <form class="login__form" id="login__form">
                <div class="form__group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required pattern=".{8,}">
                </div>
                <div class="form__group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required pattern=".{8,}">
                </div>
                <button id="submit__buton" type="button">Iniciar Sesión</button>
            </form>
            <p id="error-message" class="error-message"></p>
        </div>
    </section>
    <script src="../static/js/login.js"></script>
</body>

</html>