<!DOCTYPE html>
<html>
<head>
    <title>No Autorizado</title>
</head>
<body style="background-color: #c4c4c4;">
    <div style="text-align: center; padding: 100px;">
        <h1 style="color: #1f1f1f;">Acceso No Autorizado</h1>
        <p style="color: #1f1f1f;">Lo sentimos, no tienes permiso para acceder a esta página.</p>
        <a href="/" style="color: #1f1f1f; text-decoration: none;">
            <button style="background-color: #1f1f1f; color: #c4c4c4; border: none; padding: 10px 20px; cursor: pointer;">Volver a la página de inicio</button>
        </a>
    </div>
</body>
</html>
